/* .flex {
  width: 100vw;
  overflow: hidden;
  height: 100vh;
} */

.card {
  background: #d1d1d10d;
  border-radius: var(--mantine-radius-lg);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 3px solid #e8e8e8;
  width: 380px;
  margin: 0 auto;
  /* position: absolute; */
  /* position: relative; */
  @media (max-width: $mantine-breakpoint-sm) {
    width: 320px;
  }
}

.section {
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  padding: var(--mantine-spacing-md);
}

.main {
  margin-top: 70px;
  height: calc(100vh - 220px);
  min-height: 500px;
  display: flex;
  /* justify-content: center; */
}

.like {
  color: var(--mantine-color-red-6);
  width: rem(20px);
  height: rem(20px);
}

.label {
  text-transform: uppercase;
  font-size: var(--mantine-font-size-xs);
  font-weight: 700;
}

.cardContainer,
.cardContainerReverse {
  /* width: 320px; */
  margin: 0 auto;
  align-items: center;
  border-radius: var(--mantine-radius-lg);
}

.cardContainerReverse {
  .card {
    color: var(--white-color);
    background-color: var(--main-color);
  }
}

.box {
  background: white;
  border-radius: 30px;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50% - 150px / 2);
  left: calc(50% - 150px / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressIcon {
  width: 200px;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  border-radius: 8px;
}

.cardContainer {
  position: relative;
}
