.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 68px;
  margin-bottom: 64px;
  max-width: 1000px;

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 88%;
  }
}

.frost {
  background: #d1d1d10d;
  border-radius: var(--mantine-radius-lg);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 2px solid #e8e8e8;
  min-width: 200px;
}

.header {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 1rem;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
  position: relative;
  width: 100%;
}

.header h1 {
  align-self: center;
  font-size: 24px;
}

.body {
  composes: frost;
  display: flex;
  padding: 1rem;
  width: 100%;
  flex-direction: column;
  align-self: center;
  max-width: calc(min(var(--screen-width), 800px));
  max-width: 400px;
  height: 190px;
  position: relative;

  justify-content: end;

  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16px;
    margin: 4px 0;
    font-weight: bold;
    z-index: 999;

    h2 {
      font-size: 18px;
      margin: 8px 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 200px;
      cursor: pointer;
    }
  }
  h3 {
    margin: 8px 0;
    font-size: 14px;
    font-weight: 500;
    z-index: 999;
    font-weight: 600;
    filter: contrast(96%) brightness(98%);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .userImg {
    background-color: var(--secondary-color);
    border-radius: 50%;
    display: flex;
    width: 20px;
    height: 20px;
  }
  .inline {
    display: flex;
    gap: 0.5rem;
    padding: 2px 8px;
    align-items: center;
    font-size: 12px;
    z-index: 999;
    width: 100%;
    font-weight: 600;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    border-radius: var(--mantine-spacing-md);
    height: 36px;

    .controls {
      align-items: center;
      gap: 8px;
      justify-content: right;
    }

    .favorite {
      color: var(--mantine-color-red-6);
    }
  }
}

.drawer {
  composes: body;
  padding: var(--mantine-spacing-sm);
  min-width: 100px;
}

.withOverlay {
  color: white;
  overflow: hidden;

  h2 {
    /* color: var(--mantine-color-lime-4); */
    color: white;
  }

  h3 {
    /* color: var(--mantine-color-gray-2); */
    filter: contrast(92%) brightness(99%);
  }
}

.gridCatalogs {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: var(--mantine-spacing-lg);
}

.justifyLeft {
  gap: 4px;
  width: 100%;
  justify-content: left;
  overflow: auto;
  & {
    display: flex;
    flex-wrap: nowrap;
  }
}

.catalogMinWidth {
  min-width: 230px;
}

@media (min-width: $mantine-breakpoint-md) {
  .maxWidth600 {
    max-width: 600px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 31, 63, 0.6) 98%);
  filter: blur(4px); */
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.05) 100%);
}

.cardContent {
  height: 100px;
  z-index: 999;
}

.filters {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
  gap: 8px;

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
  }

  @media (min-width: $mantine-breakpoint-md) {
    & div {
      max-width: 380px;
    }
  }
}

.addNew {
  position: absolute;
  right: 0;
}

.container {
  margin: 0 auto;
  margin-top: var(--mantine-spacing-md);
  @media (min-width: $mantine-breakpoint-sm) {
    width: 60%;
  }
}

.mantineDropzoneInner {
  display: flex;
  border: 2px solid #e8e8e8;
  border-radius: var(--mantine-radius-md);
  margin: var(--mantine-spacing-sm) 0;
  /* padding: var(--mantine-spacing-sm); */
  justify-content: flex-start;
  overflow: hidden;
}

.textarea {
  width: 100%;
  @media (min-width: $mantine-breakpoint-md) {
    max-width: calc(50% - 4px);
  }
}

.fullWidth {
  width: 100%;
}

.root {
  position: relative;
  padding: var(--mantine-spacing-md);
  transition: border-color 150ms ease;

  &[data-checked] {
    border-color: var(--mantine-primary-color-filled);
  }

  @mixin hover {
    @mixin light {
      background-color: var(--mantine-color-gray-0);
    }

    @mixin dark {
      background-color: var(--mantine-color-dark-6);
    }
  }
}

.label {
  font-size: var(--mantine-font-size-md);
  line-height: 1.3;
  color: var(--mantine-color-bright);
}

.description {
  margin-top: 8px;
  color: var(--mantine-color-dimmed);
  font-size: var(--mantine-font-size-xs);
}

.deleteButton {
  background: transparent;
  color: var(--mantine-color-black);
  border: none;
}

.iconSettings {
  cursor: pointer;
  transition: color 0.2s ease, transform 0.2s ease;
  background-color: rgba(255, 255, 255, 0.2);
  color: black;

  &:hover {
    background-color: var(--mantine-color-black);
    color: white;
  }
}

.drawersContainer {
  justify-content: center;

  & > * {
    width: 140px;
  }
}

/* MOBILE */
@media (max-width: 800px) {
  .linkGrid {
    width: 100%;
  }

  .body {
    flex-wrap: wrap;
  }

  .buttonContainer {
    flex-wrap: wrap;
  }

  .drawersContainer {
    overflow-x: auto;
    justify-content: left;
  }
}
