.comment,
.comment__right {
  padding: var(--mantine-spacing-lg) var(--mantine-spacing-lg);
  max-width: 80%;
  margin: 16px auto 16px 32px;
  border: 2px solid #e8e8e8;
  background-color: var(--mantine-color-blue-filled);
  color: var(--mantine-color-white);
  width: fit-content;

  &:first-of-type {
    margin-top: 64px;
  }
}
.comment__right {
  margin: 16px 32px 16px auto;
  background-color: var(--mantine-color-white);
  color: var(--mantine-color-black);
  .author {
    display: flex;
    flex-direction: row-reverse;
  }
}

.body {
  padding-top: var(--mantine-spacing-sm);
  font-size: var(--mantine-font-size-sm);
}

.content {
  & > p:last-child {
    margin-bottom: 0;
  }
}
